
@{
    ViewBag.Title = "index";
}

<h2>Hello Yose!</h2>
Here is a link to my repository : <a id="repository-link" href="https://github.com/sebastienmuller/Yose/blob/master/README.md">follow me !</a>
<br />
<a id="ping-challenge-link" href="@Url.Action("Index", "Ping")">Ping challenge</a>
