
@{
    ViewBag.Title = "index";
}

<h2>Hello Yose!</h2>
Here is a link to my repository : <a id="repository-link" href="https://github.com/sebastienmuller/Yose/blob/master/README.md">follow me !</a>
<br />
@Html.ActionLink("Ping challenge", "Index", "Ping", null, new {id = "ping-challenge-link"})